body{
  background-color: #000;
  color: #fff;
  font-family: 'Inconsolata', monospace;
}

.wrapper{
  width: 900px;
  margin: 0 auto;
}

.sidebar{
  width: 385px;
  padding: 1rem;
  box-sizing: border-box;
}

.sketch-container{
  width: 500px;
  height: 500px;
}

.block{
  float: left;
  display: inline-block;
}

#logo{
  display: block;
  width: 200px;
  height: 137px;
  background-image: url('assets/logo.svg');
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
}
